$primary: #FC155C;
$brand: #5C0C9B;
$grey: #95989A;
$txt1: #706678;
$txt2: #95989A;



$border-radius: 25px;

$blueDark: #2A6FAC;
$bluePrimary: #359AE8;
$blueLight: #E9F4FC;
$yellowDark: #EEB400;
$yellowPrimary: #FED041;
$yellowLight: #FBEFCB;
$orangePrimary: #F84F34;
$greenPrimary: #74CAB9;
$greenLight: #F0F9F7;
$positive: #99CA74;
$font: #95989A;
$fontDark: #545454;


$specialFont: 'Righteous', cursive;
$bodyFont: 'Montserrat', sans-serif;