doctype
html
    head
        block meta
            //- Required meta tags
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        block css
            //-link(rel='stylesheet', href='assets/css/jquery.bxslider.min.css')
            link(href='https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Righteous', rel='stylesheet', type='text/css')
            link(rel='stylesheet', href='assets/css/lotterywinner.min.css')


        block head-scripts
            //-script(type='text/javascript', src='//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js', async='')


        block links
            //- link(rel='profile', href='')
            //-link(rel='shortcut icon', href='http://www.monacoriches.com/favicon.png', type='image/x-icon')
            //-link(rel='canonical', href='http://www.monacoriches.com/')

    //block vars
    body
        block header
            include svg/svg
            include header/header


        block content



        block footer
            include footer/footer




        block scripts
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
            script(src='/assets/js/lotterywinners.min.js')
            //script(src='/assets/js/bootstrap.min.js')
            //script(src='assets/js/jquery.bxslider.min.js')
            //script(src='assets/js/bxSliderHome.js')
            //script(src="assets/js/filter.js")
