extends views/layout




block content
    section.lottery-offers
        .d-md-flex.flex-md-row.justify-content-md-around.offer-slider
            - var yellowCards = true;
            include views/lottery-card/lottery-card
        a(href="").lw-link.view-all View All Offers


    section.lottery-winners
        h2.text-center WINNERS
        .d-md-flex.flex-md-row.justify-content-md-between.winner-slider
            include views/lottery-winner/lottery-winner
        a(href="").lw-link.view-all View All Winners



    section.lottery-upcoming
        h2.text-center Upcoming LOTTERY
        .d-md-flex.flex-md-row.justify-content-md-around.upcoming-slider
            - var upcoming = true;
            include views/lottery-card/lottery-card
        a(href="").lw-link.view-all View All Upcoming Lottery


    section.g1.d-flex.flex-column.flex-lg-row
        .c1.py-lg-4.d-flex.flex-column.align-items-center
            .lottery-results
                h2 Lottery results
                include views/result-card/result-card
            a(href="") View more



        .c2.p-4.d-flex.justify-content-center
            .lottery-generator
                h2(id='clockdiv') Lucky number generator



