- var maxCardNo = 5;

- cardsNo = 0;
- classes = '';
each card in data
    if yellowCards == true
        if cardsNo == 2 || cardsNo == 4
            - classes = 'lw-card-yellow'
        else
            - classes = ''
    if upcoming == true
        - classes = 'lw-card-yellow'
    if cardsNo == 4
        - classes += ' hide-card'

    if cardsNo < maxCardNo
        .lw-card.d-flex.flex-column.align-items-center.justify-content-between(class= classes)
            img.lottery-img(src="assets/images/logo/" + card.lotterylogo + ".png")
            .p-2.lottery-summary
                h3= card.lotteryname
                span= card.jackpot
                p 2 days 16 hrs
            a(href="").lw-link Buy Now
            img.swivel-img(src="assets/images/roulette.svg")
    - cardsNo++



